<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Hyla Project Manager - {{ page.title }}</title>

		<link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />

	</head>
	<body>
		<div id="page">
			<div id="sidebar">
				<h1 class="logo"><a href="/"><img src="/images/logo.png" alt="Hyla Project Manager" /></a></h1>
				<div class="widget">
					<ul class="navigation">
						<li><a href="/">Home</a></li>
					</ul>
				</div>
			</div>
			<div id="content">{{ content }}</div>
			<div id="footer">Copyright &copy; 2010-2011 the Hyla Team.</div>
		</div>
	</body>
</html>
